[submodule "tests/spec_testsuite"]
path = tests/spec_testsuite
url = ssh://git@github.com/CodeEditorLand/TestSuite.git

[submodule "tests/wasi_testsuite/wasi-threads"]
path = tests/wasi_testsuite/wasi-threads
url = ssh://git@github.com/CodeEditorLand/WASIThreads.git

[submodule "tests/wasi_testsuite/wasi-common"]
path = tests/wasi_testsuite/wasi-common
url = ssh://git@github.com/CodeEditorLand/TestSuite.git
